@use "variables" as v;

header, main, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 100%;

    @media (min-width: v.$bigger-mobile)  {
        width: 540px;
    }

    @media (min-width: v.$tablet) {
        width: 720px;
    }

    @media (min-width: v.$destop) {
        width: 1170px;
    }

    @media (min-width: v.$bigger-destop) {
        width: 1320px;
    }
}