@use "variables" as v;

header, main, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.container {
    width: 100%;

    @media (min-width: v.$bigger-mobile)  {
        width: 540px;
    }

    @media (min-width: v.$tablet) {
        width: 720px;
    }

    @media (min-width: v.$destop) {
        width: 1170px;
    }

    @media (min-width: v.$bigger-destop) {
        width: 1320px;
    }
}

.navigation ul {
    display: flex;
    gap: 20px;

    font: var(--smaller-font);
    text-transform: uppercase;
}