.link {
    color: var(--black-color);
    transition: var(--transition);
    font-weight: bold;

    &:hover, &:active, &:focus {
    color: var(--violet-color);
    }

    &_small {
        font: var(--smallest-font);
        text-decoration: underline;
        color: var(--white-color);
        white-space: nowrap;


        &:hover, &:active, &:focus {
            color: var(--blue-color);
            }

    }

}

/* .link_active {
    color: var(--violet-color);
}
 */